
<section class="system">
  <div class="container">
    <h4 class="sectiontitle" id="about">О системе</h4>
    <div class="row">
      <div class="col-lg-5 offset-lg-1 col-md-6 offset-mg-0">
        <div class="system__cycle">
          <h3 class="system__cycle-title">Система циклов NanoBet</h3>
          <p class="system__cycle-text">Платформа основанная на машинном обучении и нейронной сети , которая анализирует матчи в различных видах спорта и выдает прогноз на нечетный результат матча, что приводит к постоянному заработку в беттинге.</p>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1 col-md-6 offset-mg-0">
        <div class="system__searching">
          <div class="system__searching-indicate"><img src="img/indicate_anim.svg" alt="Индикация"/></div>
          <p class="system__searching-text">Подождите идет процесс анализирования</p>
          <ul class="system__searching-block">
            <li class="system__searching-item">
              <p>Подбираю матч</p>
              <div class="system__searching-item-check"></div>
            </li>
            <li class="system__searching-item">
              <p>Анализирую турнир</p>
              <div class="system__searching-item-check"></div>
            </li>
            <li class="system__searching-item">
              <p>Анализирую новостной сайт</p>
              <div class="system__searching-item-check"></div>
            </li>
            <li class="system__searching-item">
              <p>Подвожу итоги</p>
              <div class="system__searching-item-check"></div>
            </li>
            <li class="system__searching-item">
              <p>Вывожу результат на экран</p>
              <div class="system__searching-item-check"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>