
<section class="advantage">
  <div class="container">
    <h4 class="sectiontitle" id="advantage">Наши преимущества</h4>
    <p class="advantage__text">Платформа основанная на машинном обучении и нейронной сети , которая анализирует матчи в различных видах спорта и выдает прогноз на нечетный результат матча, что приводит к постоянному заработку в беттинге.</p>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12">
        <div class="advantage__elem">
          <div class="advantage__elem-icon"><img src="img/mortarboard.svg" alt="Иконка"/></div>
          <h5 class="advantage__elem-title">Самообучение</h5>
          <p class="advantage__elem-text">Платформа основанная на машинном обучении и нейронной сети , которая анализирует матчи в различных видах спорта.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="advantage__elem">
          <div class="advantage__elem-icon"><img src="img/accuracy.svg" alt="Иконка"/></div>
          <h5 class="advantage__elem-title">Точность прогнозов</h5>
          <p class="advantage__elem-text">Платформа основанная на машинном обучении и нейронной сети , которая анализирует матчи в различных видах спорта.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="advantage__elem">
          <div class="advantage__elem-icon"><img src="img/artificial_intelligence.svg" alt="Иконка"/></div>
          <h5 class="advantage__elem-title">Нейронная сеть</h5>
          <p class="advantage__elem-text">Платформа основанная на машинном обучении и нейронной сети , которая анализирует матчи в различных видах спорта.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="advantage__elem">
          <div class="advantage__elem-icon"><img src="img/money_bag.svg" alt="Иконка"/></div>
          <h5 class="advantage__elem-title">Высокий доход</h5>
          <p class="advantage__elem-text">Платформа основанная на машинном обучении и нейронной сети , которая анализирует матчи в различных видах спорта.</p>
        </div>
      </div>
    </div>
  </div>
</section>