
<section class="application" id="application"><img class="application__img" src="img/paper.png" alt="Лист"/><img class="application__img" src="img/fan.png" alt="Веер"/>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-6 wow bounceInLeft">
        <h2 class="application__title">Получите<br>представление<br>о строительстве<span class="dot">.</span></h2>
        <p class="application__subtitle">ВЫ ПОЛУЧИТЕ:</p>
        <ul class="application__list">
          <li class="application__list-item">
            <div class="application__list-check"><img src="img/check.svg" alt="Check"/></div>
            <p>Предварительный вариант сметы</p>
          </li>
          <li class="application__list-item">
            <div class="application__list-check"><img src="img/check.svg" alt="Check"/></div>
            <p>Советы по выбору материалов</p>
          </li>
          <li class="application__list-item">
            <div class="application__list-check"><img src="img/check.svg" alt="Check"/></div>
            <p>Перечень проверенных поставщиков</p>
          </li>
          <li class="application__list-item">
            <div class="application__list-check"><img src="img/check.svg" alt="Check"/></div>
            <p>Примерный срок работ</p>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 offset-lg-3 col-md-6 offset-md-0 wow bounceInRight">
        <form class="application__form"><img class="application__form-img" src="img/clips.png" alt="Клипса"/>
          <p class="application__form-title">ОСТАВЬТЕ ЗАЯВКУ</p>
          <p class="application__form-subtitle">и мы вам перезвоним!</p>
          <input class="application__form-item person" type="text" name="name" placeholder="Введите ваше имя"/>
          <input class="application__form-item phone" type="tel" name="tel" placeholder="Введите ваш телефон"/>
          <button class="button application__form-button" type="submit">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</button>
          <label class="application__form-check">
            <input type="checkbox"/> Согласен с политикой конфиденциальности
          </label>
        </form>
      </div>
    </div>
  </div>
</section>