
<section class="carddata">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-sm-12">
        <div class="carddata__img">
          <div class="carddata__slider">
            <div class="carddata__slider-item"><img class="img-responsive" src="img/k13101_sm.png" alt="Дом"/></div>
            <div class="carddata__slider-item"><img class="img-responsive" src="img/k13102.png" alt="Дом"/></div>
            <div class="carddata__slider-item"><img class="img-responsive" src="img/k13103_sm.png" alt="Дом"/></div>
            <div class="carddata__slider-item"><img class="img-responsive" src="img/k13105_sm.png" alt="Дом"/></div>
            <div class="carddata__slider-item"><img class="img-responsive" src="img/k13101_sm.png" alt="Дом"/></div>
            <div class="carddata__slider-item"><img class="img-responsive" src="img/k13102.png" alt="Дом"/></div>
            <div class="carddata__slider-item"><img class="img-responsive" src="img/k13103_sm.png" alt="Дом"/></div>
            <div class="carddata__slider-item"><img class="img-responsive" src="img/k13105_sm.png" alt="Дом"/></div>
          </div>
          <div class="carddata__slider1">
            <div class="carddata__slider-item"><img class="img-responsive" src="img/k13101_sm.png" alt="Дом"/></div>
            <div class="carddata__slider-item"><img class="img-responsive" src="img/k13102_sm.png" alt="Дом"/></div>
            <div class="carddata__slider-item"><img class="img-responsive" src="img/k13103_sm.png" alt="Дом"/></div>
            <div class="carddata__slider-item"><img class="img-responsive" src="img/k13105_sm.png" alt="Дом"/></div>
            <div class="carddata__slider-item"><img class="img-responsive" src="img/k13101_sm.png" alt="Дом"/></div>
            <div class="carddata__slider-item"><img class="img-responsive" src="img/k13102_sm.png" alt="Дом"/></div>
            <div class="carddata__slider-item"><img class="img-responsive" src="img/k13103_sm.png" alt="Дом"/></div>
            <div class="carddata__slider-item"><img class="img-responsive" src="img/k13105_sm.png" alt="Дом"/></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-12">
        <div class="carddata__info">
          <h4 class="carddata__info-title">Проект дома 131м.</h4>
          <p class="carddata__info-text">Габариты дома: <span>9,47 x 10,48</span></p>
          <p class="carddata__info-text">Количество этажей: <span>2</span></p>
          <p class="carddata__info-text">Фундамент: <span>ленточный, из сборных ж/б блоков по монолитной подушке</span></p>
          <p class="carddata__info-text">Материал стен: <span>(кирпич поризованный 380мм, термопанель с клинкерной плиткой 70мм)</span></p>
          <p class="carddata__info-text">Перекрытия: <span>Перекрытия: сборные железобетонные с монолитными участками</span></p>
          <p class="carddata__info-text">Крыша: <span>скатная</span></p>
          <p class="carddata__info-text">Кровля: <span>металлочерепица</span></p>
          <p class="carddata__info-text">Фасад: <span>клинкерная плитка</span></p>
          <div class="carddata__price">
            <div class="carddata__price-item metr">
              <p>ПЛОЩАДЬ:</p>
              <p>133 <span>м</span></p>
            </div>
            <div class="carddata__price-item rub">
              <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
              <p>3 275 000 <span>руб</span></p>
            </div>
          </div>
          <p class="carddata__priceproject">Стоимость проекта 45 000 руб.</p>
          <p class="carddata__projectinfo">В стоимость входит коробка дома, окна, отделка фасада.</p>
          <p class="carddata__projectinfo">Подробную информацию уточните у наших менеджеров.</p>
        </div>
      </div>
    </div>
  </div>
</section>