
<section class="carditem">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="carditem__title wow slideInUp">Дома по данному проекту<span class="dot">.</span></h4>
      </div>
      <div class="col-12">
        <div class="carditem__slider">
          <div class="carditem__slider-item"><img class="img-responsive" src="img/instagramfoto1.png" alt="Дом"/></div>
          <div class="carditem__slider-item"><img class="img-responsive" src="img/instagramfoto2.png" alt="Дом"/></div>
          <div class="carditem__slider-item"><img class="img-responsive" src="img/instagramfoto3.png" alt="Дом"/></div>
          <div class="carditem__slider-item"><img class="img-responsive" src="img/instagramfoto1.png" alt="Дом"/></div>
          <div class="carditem__slider-item"><img class="img-responsive" src="img/instagramfoto2.png" alt="Дом"/></div>
          <div class="carditem__slider-item"><img class="img-responsive" src="img/instagramfoto3.png" alt="Дом"/></div>
        </div>
      </div>
      <div class="col-12">
        <div class="carditem__arrow">
          <div class="carditem__arrow-left"><img src="img/arrow_sm.svg" alt="Стрелка"/></div>
          <div class="carditem__arrow-right"><img src="img/arrow_sm.svg" alt="Стрелка"/></div>
        </div>
      </div>
    </div>
  </div>
</section>