
<section class="client">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="client__title wow slideInUp">Наши клиенты<span class="dot">.</span></h4>
      </div>
      <div class="col-12">
        <div class="client__slider">
          <div class="client__slider-item"><img src="img/client1.png" alt="Клиенты"/></div>
          <div class="client__slider-item"><img src="img/client2.png" alt="Клиенты"/></div>
          <div class="client__slider-item"><img src="img/client3.png" alt="Клиенты"/></div>
          <div class="client__slider-item"><img src="img/client4.png" alt="Клиенты"/></div>
          <div class="client__slider-item"><img src="img/client1.png" alt="Клиенты"/></div>
          <div class="client__slider-item"><img src="img/client2.png" alt="Клиенты"/></div>
          <div class="client__slider-item"><img src="img/client3.png" alt="Клиенты"/></div>
          <div class="client__slider-item"><img src="img/client4.png" alt="Клиенты"/></div>
        </div>
      </div>
      <div class="col-12">
        <div class="client__arrow">
          <div class="client__arrow-left"><img src="img/arrow_sm.svg" alt="Стрелка"/></div>
          <div class="client__arrow-right"><img src="img/arrow_sm.svg" alt="Стрелка"/></div>
        </div>
      </div>
    </div>
  </div>
</section>