
<header class="header">
  <div class="header__fixed">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header__menu"><a class="header__logo" href="index.html"><img src="img/Logo.svg" alt="Логотип"/>
              <p class="header__logo-text">Делаем как надо.</p></a>
            <nav class="header__nav">
              <ul class="header__nav-box">
                <li class="header__nav-item"><a class="header__nav-link header__search" href="index.html">Главная</a></li>
                <li class="header__nav-item"><a class="header__nav-link header__search" href="#instagram">Наш Instagram</a></li>
                <li class="header__nav-item"><a class="header__nav-link header__search" href="projectbox.html">Проекты</a></li>
                <li class="header__nav-item"><a class="header__nav-link header__search" href="#comment">Отзывы</a></li>
              </ul>
            </nav>
            <div class="header__nav-row">
              <div class="header__nav-burger"><span></span><span></span><span></span></div><a class="button header__button header__search" href="#application"><img src="img/icon-phone.svg" alt="Трубка"/>
                <p>ОБРАТНЫЙ ЗВОНОК</p></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header__row">
          <div class="header__slidecontrol">
            <div class="header__arrow header__arrow-left"><img src="img/arrow-left.svg" alt="Стрелка"/></div>
            <div class="header__arrow header__arrow-right"><img src="img/arrow-right.svg" alt="Стрелка"/></div>
          </div>
          <div class="header__row-current">
            <p class="header__row-current-slidenumber">01</p><img src="img/slash.svg" alt="Слэш"/>
            <p class="header__row-current-number">04</p>
          </div>
          <div class="header__slide">
            <div class="header__slide-row">
              <div class="header__slide-item">
                <div class="header__slide-info">
                  <h1 class="header__slide-title">Создаем дома в Москве<br> и области.</h1>
                  <p class="header__slide-text">Фиксированные цены и сроки.<br> Финансовая прозрачность<br> на ваших условиях.</p><a class="header__slide-detaile" href="#">
                    <p>Подробнее</p><img src="img/icons-right.svg" alt="Стрелка"/></a>
                </div>
                <div class="header__slide-img"><img class="img-responsive" src="img/house1.png" alt="Дом"/></div>
              </div>
            </div>
            <div class="header__slide-row">
              <div class="header__slide-item">
                <div class="header__slide-info">
                  <h1 class="header__slide-title">Создаем дома в Москве и области.</h1>
                  <p class="header__slide-text">Фиксированные цены и сроки.<br> Финансовая прозрачность<br> на ваших условиях.</p><a class="header__slide-detaile" href="#">
                    <p>Подробнее</p><img src="img/icons-right.svg" alt="Стрелка"/></a>
                </div>
                <div class="header__slide-img"><img class="img-responsive" src="img/house1.png" alt="Дом"/></div>
              </div>
            </div>
            <div class="header__slide-row">
              <div class="header__slide-item">
                <div class="header__slide-info">
                  <h1 class="header__slide-title">Создаем дома в Москве и области.</h1>
                  <p class="header__slide-text">Фиксированные цены и сроки.<br> Финансовая прозрачность<br> на ваших условиях.</p><a class="header__slide-detaile" href="#">
                    <p>Подробнее</p><img src="img/icons-right.svg" alt="Стрелка"/></a>
                </div>
                <div class="header__slide-img"><img class="img-responsive" src="img/house1.png" alt="Дом"/></div>
              </div>
            </div>
            <div class="header__slide-row">
              <div class="header__slide-item">
                <div class="header__slide-info">
                  <h1 class="header__slide-title">Создаем дома в Москве и области.</h1>
                  <p class="header__slide-text">Фиксированные цены и сроки.<br> Финансовая прозрачность<br> на ваших условиях.</p><a class="header__slide-detaile" href="#">
                    <p>Подробнее</p><img src="img/icons-right.svg" alt="Стрелка"/></a>
                </div>
                <div class="header__slide-img"><img class="img-responsive" src="img/house1.png" alt="Дом"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>