
<div class="header__searchheader header">
  <div class="header__fixed">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header__menu"><a class="header__logo" href="index.html"><img src="img/Logo.svg" alt="Логотип"/>
              <p class="header__logo-text">Делаем как надо.</p></a>
            <nav class="header__nav">
              <ul class="header__nav-box">
                <li class="header__nav-item"><a class="header__nav-link header__search" href="index.html">Главная</a></li>
                <li class="header__nav-item"><a class="header__nav-link header__search" href="#instagram">Наш Instagram</a></li>
                <li class="header__nav-item"><a class="header__nav-link header__search" href="projectbox.html">Проекты</a></li>
                <li class="header__nav-item"><a class="header__nav-link header__search" href="#comment">Отзывы</a></li>
              </ul>
            </nav>
            <div class="header__nav-row">
              <div class="header__nav-burger"><span></span><span></span><span></span></div><a class="button header__button header__search" href="#application"><img src="img/icon-phone.svg" alt="Трубка"/>
                <p>ОБРАТНЫЙ ЗВОНОК</p></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>