
<section class="income">
  <div class="container">
    <div class="income__men1"><img src="img/men1.png" alt="Человек"/></div>
    <div class="income__men2"><img src="img/men2.png" alt="Человек"/></div>
    <h4 class="sectiontitle" id="income">Доходность</h4>
    <div class="row justify-content-center">
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="income__box">
          <h6 class="income__title">ДОХОДНОСТЬ ИГРОКА</h6>
          <p class="income__text">ВВЕДИТЕ ВАШ БАНК</p>
          <form class="income__form">
            <div class="income__form-calculate">
              <input class="income__form-item" type="text" name="name" placeholder="000000000000"/>
              <button class="income__form-button" type="submit">Рассчитать</button>
            </div>
            <div class="income__form-result">
              <p class="income__text">БАЗОВАЯ СТАВКА</p>
              <input class="income__form-item" type="text" name="name" placeholder="000000000000"/>
            </div>
            <div class="income__form-result">
              <p class="income__text">ДОХОД ЗА МЕСЯЦ </p>
              <input class="income__form-item" type="text" name="name" placeholder="000000000000"/>
            </div>
            <div class="income__form-result">
              <p class="income__text">ДОХОД ЗА МЕСЯЦ<br>(В РУБЛЯХ) </p>
              <input class="income__form-item" type="text" name="name" placeholder="000000000000"/>
            </div>
          </form>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="income__box">
          <h6 class="income__title">ДОХОДНОСТЬ ПАРТНЕРА</h6>
          <p class="income__text">КОЛИЧЕСТВО ЛЮДЕЙ</p>
          <form class="income__form">
            <div class="income__form-calculate">
              <input class="income__form-item" type="text" name="name" placeholder="000000000000"/>
              <button class="income__form-button" type="submit">Рассчитать</button>
            </div>
            <div class="income__form-result">
              <p class="income__text">ДОХОД ЗА МЕСЯЦ<br>(В РУБЛЯХ) </p>
              <input class="income__form-item" type="text" name="name" placeholder="000000000000"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>