
<section class="instagram" id="instagram">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="instagram__title wow slideInUp">Мы в Instagram<span class="dot">.</span></h4><a class="instagram__link" href="#"><img src="img/instagram1.svg" alt="Инстаграм"/><span>ido.group</span></a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12"><a class="instagram__item" href="#"><img class="img-responsive" src="img/instagramfoto1.png" alt="Фото"/></a></div>
      <div class="col-lg-4 col-md-6 col-sm-12"><a class="instagram__item" href="#"><img class="img-responsive" src="img/instagramfoto2.png" alt="Фото"/></a></div>
      <div class="col-lg-4 col-md-6 col-sm-12"><a class="instagram__item" href="#"><img class="img-responsive" src="img/instagramfoto3.png" alt="Фото"/></a></div>
      <div class="col-lg-4 col-md-6 col-sm-12"><a class="instagram__item" href="#"><img class="img-responsive" src="img/instagramfoto4.png" alt="Фото"/></a></div>
      <div class="col-lg-4 col-md-6 col-sm-12"><a class="instagram__item" href="#"><img class="img-responsive" src="img/instagramfoto5.png" alt="Фото"/></a></div>
      <div class="col-lg-4 col-md-6 col-sm-12"><a class="instagram__item" href="#"><img class="img-responsive" src="img/instagramfoto6.png" alt="Фото"/></a></div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center"><a class="button instagram__button" href="service.html">СМОТРЕТЬ ВСЕ</a></div>
    </div>
  </div>
</section>