
<header class="mainheader">
  <div class="sign">
    <div class="sign__row">
      <div class="sign__logo"><img class="img-responsive" src="img/loggo.svg" alt="Логотип"/></div>
      <form class="sign__form">
        <input class="sign__form-item" type="text" name="name" placeholder="Username"/>
        <input class="sign__form-item" type="password" name="password" placeholder="Password"/>
        <button class="button sign__form-button" type="submit">SING IN</button>
      </form><a class="sign__text" href="#">Forgot Password?</a>
    </div>
  </div>
  <ul class="mainheader__user-menu">
    <li><a class="mainheader__user-item" href="subscribe.html"><img src="img/icons/subscribe.svg" alt="Подписка"/>
        <p>Подписка</p></a></li>
    <li><a class="mainheader__user-item" href="account.html"><img src="img/icons/account.svg" alt="Аккаунт"/>
        <p>Аккаунт</p></a></li>
    <li>
      <div class="mainheader__user-item signin"><img src="img/icons/exit.svg" alt="Выход"/>
        <p>Выход</p>
      </div>
    </li>
  </ul>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="mainheader__menu"><a class="mainheader__logo" href="main.html"><img class="img-responsive" src="img/loggo.svg" alt="Логотип"/></a>
          <nav class="mainheader__nav">
            <div class="mainheader__nav-burger"><span></span><span></span><span></span></div>
            <ul class="mainheader__nav-box">
              <li class="mainheader__nav-item"><a class="header__nav-link" href="#advantage">ОБУЧЕНИЕ</a></li>
              <li class="mainheader__nav-item"><a class="mainheader__nav-link" href="#income">БОНУСНАЯ ПРОГРАММА</a></li>
            </ul><a class="button mainheader__nav-button" href="#">ПАРТНЕРСКАЯ ПРОГРАММА</a>
            <div class="mainheader__time">
              <div class="mainheader__time-clock"><img src="img/icons/clock.svg" alt="Часы"/></div>
              <div class="mainheader__time-zone">
                <p>05.01.2019</p>
                <p>GMT +1</p>
              </div><a class="mainheader__time-icon" href="#">
                <svg width="100%" height="100%" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="header" transform="translate(-765.000000, -35.000000)" fill="#76767B" fill-rule="nonzero">
                      <g id="setup" transform="translate(765.000000, 35.000000)">
                        <path id="Shape" d="M0,11.6668571 L0,13.332486 L4.99874322,13.332486 L4.99874322,11.6668571 L0,11.6668571 Z M0,1.66748548 L0,3.33311435 L8.33374274,3.33311435 L8.33374274,1.66748548 L0,1.66748548 Z M8.33374274,15 L8.33374274,13.3325145 L15,13.3325145 L15,11.6668857 L8.33374274,11.6668857 L8.33374274,9.99937161 L6.66625726,9.99937161 L6.66625726,15 L8.33374274,15 Z M3.33499951,5.00062839 L3.33499951,6.66625726 L0,6.66625726 L0,8.33374274 L3.33499951,8.33374274 L3.33499951,9.99937161 L4.99874322,9.99937161 L4.99874322,5.00062839 L3.33499951,5.00062839 Z M15,8.33374274 L15,6.66625726 L6.66625726,6.66625726 L6.66625726,8.33374274 L15,8.33374274 Z M10.0012282,5.00062839 L11.6649719,5.00062839 L11.6649719,3.33314291 L14.9999714,3.33314291 L14.9999714,1.66748548 L11.6650005,1.66748548 L11.6650005,0 L10.0012282,0 C10.0012282,0 10.0012282,5.00062839 10.0012282,5.00062839 Z"></path>
                      </g>
                    </g>
                  </g>
                </svg></a>
            </div>
            <div class="mainheader__user">
              <div class="mainheader__user-info">
                <p class="mainheader__user-name">Jonh Smith</p>
                <p class="mainheader__user-day">Осталось дней: <span>15</span></p>
              </div>
            </div>
            <div class="mainheader__user-img"><img class="img-responsive" src="img/userfon.svg" alt="Userfon"/><img class="mainheader__user-img-men" src="img/icons/smartadmin1.png" alt="User"/></div>
            <div class="mainheader__user-button"><img src="img/icons/menu.svg" alt="Меню"/></div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>