
<footer class="mainfooter">
  <div class="mainfooter__box">
    <div class="mainfooter__logo"><a class="mainfooter__logo-link" href="main.html"><img class="img-responsive" src="img/icons/logo-black.svg" alt="Логотип"/></a></div>
    <p class="mainfooter__text">Copyright © 2019 «НаноБет».<br>Все права защищены и охраняются законом. </p>
    <ul class="mainfooter__social">
      <li class="mainfooter__icon"><a class="mainfooter__icon-link telegram" href="#"><img src="img/telegram.svg" alt="Telegram"/></a></li>
      <li class="mainfooter__icon"><a class="mainfooter__icon-link instagram" href="#"><img src="img/icons/instagram2.svg" alt="Instagtam"/></a></li>
      <li class="mainfooter__icon"><a class="mainfooter__icon-link youtube" href="#"><img src="img/icons/youtube-logo.svg" alt="Youtube"/></a></li>
    </ul>
  </div>
</footer>