
<section class="materials">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="blockFile">
          <h4 class="blockFile__title">Photos </h4>
          <p class="blockFile__text">Vestibulum suscipit tortor magna, quis pellentesque arcu volutpat ac. Tempus leo erat, sit amet ullamcorper nisl.</p>
          <button class="button blockFile__button">Button</button>
          <div class="blockFile__icon"><img src="img/photo.svg" alt="Photo"/></div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="blockFile">
          <h4 class="blockFile__title">Videos</h4>
          <p class="blockFile__text">Vestibulum suscipit tortor magna, quis pellentesque arcu volutpat ac. Tempus leo erat, sit amet ullamcorper nisl.</p>
          <button class="button blockFile__button">Button</button>
          <div class="blockFile__icon"><img src="img/film.svg" alt="Video"/></div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="blockFile">
          <h4 class="blockFile__title">Downloads </h4>
          <p class="blockFile__text">Vestibulum suscipit tortor magna, quis pellentesque arcu volutpat ac. Tempus leo erat, sit amet ullamcorper nisl.</p>
          <button class="button blockFile__button">Button</button>
          <div class="blockFile__icon"><img src="img/download.svg" alt="Download"/></div>
        </div>
      </div>
    </div>
  </div>
</section>