
<section class="projects">
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 class="projects__title wow slideInUp">Проекты<span class="dot">.</span></h4>
        <div class="projects__tab">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link active" href="#house" data-toggle="tab" role="tab">ПРОЕКТЫ ДОМОВ</a></li>
            <li class="nav-item"><a class="nav-link" href="#citizenhoume" data-toggle="tab" role="tab">ОБЩЕСТВЕННЫЕ ЗДАНИЯ</a></li>
            <li class="nav-item"><a class="nav-link" href="#townhouse" data-toggle="tab" role="tab">ТАУНХАУСЫ</a></li>
            <li class="nav-item"><a class="nav-link" href="#garazh" data-toggle="tab" role="tab">ГАРАЖИ И БАНИ</a></li>
            <li class="nav-item"><a class="nav-link" href="#vip" data-toggle="tab" role="tab">VIP УСАДЬБЫ</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="house" role="tabpanel" aria-labelledby="house-tab">
              <div class="row">
                <div class="col-lg-4 col-md-12">
                  <div class="projects__item">
                    <div class="projects__item-row">
                      <div class="projects__slider">
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                      </div>
                      <div class="projects__slider1">
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                      </div>
                    </div>
                    <div class="projects__info">
                      <div class="projects__price">
                        <div class="projects__price-item metr">
                          <p>ПЛОЩАДЬ:</p>
                          <p>133 <span>м</span></p>
                        </div>
                        <div class="projects__price-item rub">
                          <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
                          <p>3 275 000 <span>руб</span></p>
                        </div>
                      </div>
                      <p class="projects__priceproject">Стоимость проекта 45 000 руб.</p>
                      <p class="projects__projectinfo">В стоимость входит коробка дома, окна, отделка фасада. </p>
                      <p class="projects__projectinfo">Подробную информацию уточните у наших менеджеров.</p><a class="button projects__button" href="typeprojects.html">ПОДРОБНЕЕ</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12">
                  <div class="projects__item">
                    <div class="projects__item-row">
                      <div class="projects__slider">
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                      </div>
                      <div class="projects__slider1">
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                      </div>
                    </div>
                    <div class="projects__info">
                      <div class="projects__price">
                        <div class="projects__price-item metr">
                          <p>ПЛОЩАДЬ:</p>
                          <p>133 <span>м</span></p>
                        </div>
                        <div class="projects__price-item rub">
                          <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
                          <p>3 275 000 <span>руб</span></p>
                        </div>
                      </div>
                      <p class="projects__priceproject">Стоимость проекта 45 000 руб.</p>
                      <p class="projects__projectinfo">В стоимость входит коробка дома, окна, отделка фасада. </p>
                      <p class="projects__projectinfo">Подробную информацию уточните у наших менеджеров.</p><a class="button projects__button" href="typeprojects.html">ПОДРОБНЕЕ</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12">
                  <div class="projects__item">
                    <div class="projects__item-row">
                      <div class="projects__slider">
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                      </div>
                      <div class="projects__slider1">
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                      </div>
                    </div>
                    <div class="projects__info">
                      <div class="projects__price">
                        <div class="projects__price-item metr">
                          <p>ПЛОЩАДЬ:</p>
                          <p>133 <span>м</span></p>
                        </div>
                        <div class="projects__price-item rub">
                          <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
                          <p>3 275 000 <span>руб</span></p>
                        </div>
                      </div>
                      <p class="projects__priceproject">Стоимость проекта 45 000 руб.</p>
                      <p class="projects__projectinfo">В стоимость входит коробка дома, окна, отделка фасада. </p>
                      <p class="projects__projectinfo">Подробную информацию уточните у наших менеджеров.</p><a class="button projects__button" href="typeprojects.html">ПОДРОБНЕЕ</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="citizenhoume" role="tabpanel" aria-labelledby="citizenhoume-tab">
              <div class="row">
                <div class="col-lg-4 col-md-12">
                  <div class="projects__item">
                    <div class="projects__item-row">
                      <div class="projects__slider">
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                      </div>
                      <div class="projects__slider1">
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                      </div>
                    </div>
                    <div class="projects__info">
                      <div class="projects__price">
                        <div class="projects__price-item metr">
                          <p>ПЛОЩАДЬ:</p>
                          <p>133 <span>м</span></p>
                        </div>
                        <div class="projects__price-item rub">
                          <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
                          <p>3 275 000 <span>руб</span></p>
                        </div>
                      </div>
                      <p class="projects__priceproject">Стоимость проекта 45 000 руб.</p>
                      <p class="projects__projectinfo">В стоимость входит коробка дома, окна, отделка фасада. </p>
                      <p class="projects__projectinfo">Подробную информацию уточните у наших менеджеров. </p><a class="button projects__button" href="typeprojects.html">ПОДРОБНЕЕ</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12">
                  <div class="projects__item">
                    <div class="projects__item-row">
                      <div class="projects__slider">
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                      </div>
                      <div class="projects__slider1">
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                      </div>
                    </div>
                    <div class="projects__info">
                      <div class="projects__price">
                        <div class="projects__price-item metr">
                          <p>ПЛОЩАДЬ:</p>
                          <p>133 <span>м</span></p>
                        </div>
                        <div class="projects__price-item rub">
                          <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
                          <p>3 275 000 <span>руб</span></p>
                        </div>
                      </div>
                      <p class="projects__priceproject">Стоимость проекта 45 000 руб.</p>
                      <p class="projects__projectinfo">В стоимость входит коробка дома, окна, отделка фасада. </p>
                      <p class="projects__projectinfo">Подробную информацию уточните у наших менеджеров.</p><a class="button projects__button" href="typeprojects.html">ПОДРОБНЕЕ</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12">
                  <div class="projects__item">
                    <div class="projects__item-row">
                      <div class="projects__slider">
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                      </div>
                      <div class="projects__slider1">
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                      </div>
                    </div>
                    <div class="projects__info">
                      <div class="projects__price">
                        <div class="projects__price-item metr">
                          <p>ПЛОЩАДЬ:</p>
                          <p>133 <span>м</span></p>
                        </div>
                        <div class="projects__price-item rub">
                          <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
                          <p>3 275 000 <span>руб</span></p>
                        </div>
                      </div>
                      <p class="projects__priceproject">Стоимость проекта 45 000 руб.</p>
                      <p class="projects__projectinfo">В стоимость входит коробка дома, окна, отделка фасада. </p>
                      <p class="projects__projectinfo">Подробную информацию уточните у наших менеджеров.</p><a class="button projects__button" href="typeprojects.html">ПОДРОБНЕЕ</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="townhouse" role="tabpanel" aria-labelledby="townhouse-tab">
              <div class="row">
                <div class="col-lg-4 col-md-12">
                  <div class="projects__item">
                    <div class="projects__item-row">
                      <div class="projects__slider">
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                      </div>
                      <div class="projects__slider1">
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                      </div>
                    </div>
                    <div class="projects__info">
                      <div class="projects__price">
                        <div class="projects__price-item metr">
                          <p>ПЛОЩАДЬ:</p>
                          <p>133 <span>м</span></p>
                        </div>
                        <div class="projects__price-item rub">
                          <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
                          <p>3 275 000 <span>руб</span></p>
                        </div>
                      </div>
                      <p class="projects__priceproject">Стоимость проекта 45 000 руб.</p>
                      <p class="projects__projectinfo">В стоимость входит коробка дома, окна, отделка фасада. </p>
                      <p class="projects__projectinfo">Подробную информацию уточните у наших менеджеров. </p><a class="button projects__button" href="typeprojects.html">ПОДРОБНЕЕ</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12">
                  <div class="projects__item">
                    <div class="projects__item-row">
                      <div class="projects__slider">
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                      </div>
                      <div class="projects__slider1">
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                      </div>
                    </div>
                    <div class="projects__info">
                      <div class="projects__price">
                        <div class="projects__price-item metr">
                          <p>ПЛОЩАДЬ:</p>
                          <p>133 <span>м</span></p>
                        </div>
                        <div class="projects__price-item rub">
                          <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
                          <p>3 275 000 <span>руб</span></p>
                        </div>
                      </div>
                      <p class="projects__priceproject">Стоимость проекта 45 000 руб.</p>
                      <p class="projects__projectinfo">В стоимость входит коробка дома, окна, отделка фасада. </p>
                      <p class="projects__projectinfo">Подробную информацию уточните у наших менеджеров.</p><a class="button projects__button" href="typeprojects.html">ПОДРОБНЕЕ</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12">
                  <div class="projects__item">
                    <div class="projects__item-row">
                      <div class="projects__slider">
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                      </div>
                      <div class="projects__slider1">
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                      </div>
                    </div>
                    <div class="projects__info">
                      <div class="projects__price">
                        <div class="projects__price-item metr">
                          <p>ПЛОЩАДЬ:</p>
                          <p>133 <span>м</span></p>
                        </div>
                        <div class="projects__price-item rub">
                          <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
                          <p>3 275 000 <span>руб</span></p>
                        </div>
                      </div>
                      <p class="projects__priceproject">Стоимость проекта 45 000 руб.</p>
                      <p class="projects__projectinfo">В стоимость входит коробка дома, окна, отделка фасада. </p>
                      <p class="projects__projectinfo">Подробную информацию уточните у наших менеджеров.</p><a class="button projects__button" href="typeprojects.html">ПОДРОБНЕЕ</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="garazh" role="tabpanel" aria-labelledby="garazh-tab">
              <div class="row">
                <div class="col-lg-4 col-md-12">
                  <div class="projects__item">
                    <div class="projects__item-row">
                      <div class="projects__slider">
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                      </div>
                      <div class="projects__slider1">
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                      </div>
                    </div>
                    <div class="projects__info">
                      <div class="projects__price">
                        <div class="projects__price-item metr">
                          <p>ПЛОЩАДЬ:</p>
                          <p>133 <span>м</span></p>
                        </div>
                        <div class="projects__price-item rub">
                          <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
                          <p>3 275 000 <span>руб</span></p>
                        </div>
                      </div>
                      <p class="projects__priceproject">Стоимость проекта 45 000 руб.</p>
                      <p class="projects__projectinfo">В стоимость входит коробка дома, окна, отделка фасада. </p>
                      <p class="projects__projectinfo">Подробную информацию уточните у наших менеджеров. </p><a class="button projects__button" href="typeprojects.html">ПОДРОБНЕЕ</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12">
                  <div class="projects__item">
                    <div class="projects__item-row">
                      <div class="projects__slider">
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                      </div>
                      <div class="projects__slider1">
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                      </div>
                    </div>
                    <div class="projects__info">
                      <div class="projects__price">
                        <div class="projects__price-item metr">
                          <p>ПЛОЩАДЬ:</p>
                          <p>133 <span>м</span></p>
                        </div>
                        <div class="projects__price-item rub">
                          <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
                          <p>3 275 000 <span>руб</span></p>
                        </div>
                      </div>
                      <p class="projects__priceproject">Стоимость проекта 45 000 руб.</p>
                      <p class="projects__projectinfo">В стоимость входит коробка дома, окна, отделка фасада. </p>
                      <p class="projects__projectinfo">Подробную информацию уточните у наших менеджеров.</p><a class="button projects__button" href="typeprojects.html">ПОДРОБНЕЕ</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12">
                  <div class="projects__item">
                    <div class="projects__item-row">
                      <div class="projects__slider">
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                      </div>
                      <div class="projects__slider1">
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                      </div>
                    </div>
                    <div class="projects__info">
                      <div class="projects__price">
                        <div class="projects__price-item metr">
                          <p>ПЛОЩАДЬ:</p>
                          <p>133 <span>м</span></p>
                        </div>
                        <div class="projects__price-item rub">
                          <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
                          <p>3 275 000 <span>руб</span></p>
                        </div>
                      </div>
                      <p class="projects__priceproject">Стоимость проекта 45 000 руб.</p>
                      <p class="projects__projectinfo">В стоимость входит коробка дома, окна, отделка фасада. </p>
                      <p class="projects__projectinfo">Подробную информацию уточните у наших менеджеров.</p><a class="button projects__button" href="typeprojects.html">ПОДРОБНЕЕ</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="vip" role="tabpanel" aria-labelledby="vip-tab">
              <div class="row">
                <div class="col-lg-4 col-md-12">
                  <div class="projects__item">
                    <div class="projects__item-row">
                      <div class="projects__slider">
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                      </div>
                      <div class="projects__slider1">
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                      </div>
                    </div>
                    <div class="projects__info">
                      <div class="projects__price">
                        <div class="projects__price-item metr">
                          <p>ПЛОЩАДЬ:</p>
                          <p>133 <span>м</span></p>
                        </div>
                        <div class="projects__price-item rub">
                          <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
                          <p>3 275 000 <span>руб</span></p>
                        </div>
                      </div>
                      <p class="projects__priceproject">Стоимость проекта 45 000 руб.</p>
                      <p class="projects__projectinfo">В стоимость входит коробка дома, окна, отделка фасада. </p>
                      <p class="projects__projectinfo">Подробную информацию уточните у наших менеджеров. </p><a class="button projects__button" href="typeprojects.html">ПОДРОБНЕЕ</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12">
                  <div class="projects__item">
                    <div class="projects__item-row">
                      <div class="projects__slider">
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                      </div>
                      <div class="projects__slider1">
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                      </div>
                    </div>
                    <div class="projects__info">
                      <div class="projects__price">
                        <div class="projects__price-item metr">
                          <p>ПЛОЩАДЬ:</p>
                          <p>133 <span>м</span></p>
                        </div>
                        <div class="projects__price-item rub">
                          <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
                          <p>3 275 000 <span>руб</span></p>
                        </div>
                      </div>
                      <p class="projects__priceproject">Стоимость проекта 45 000 руб.</p>
                      <p class="projects__projectinfo">В стоимость входит коробка дома, окна, отделка фасада. </p>
                      <p class="projects__projectinfo">Подробную информацию уточните у наших менеджеров.</p><a class="button projects__button" href="typeprojects.html">ПОДРОБНЕЕ</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12">
                  <div class="projects__item">
                    <div class="projects__item-row">
                      <div class="projects__slider">
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
                        <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
                      </div>
                      <div class="projects__slider1">
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
                        <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
                      </div>
                    </div>
                    <div class="projects__info">
                      <div class="projects__price">
                        <div class="projects__price-item metr">
                          <p>ПЛОЩАДЬ:</p>
                          <p>133 <span>м</span></p>
                        </div>
                        <div class="projects__price-item rub">
                          <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
                          <p>3 275 000 <span>руб</span></p>
                        </div>
                      </div>
                      <p class="projects__priceproject">Стоимость проекта 45 000 руб.</p>
                      <p class="projects__projectinfo">В стоимость входит коробка дома, окна, отделка фасада. </p>
                      <p class="projects__projectinfo">Подробную информацию уточните у наших менеджеров.</p><a class="button projects__button" href="typeprojects.html">ПОДРОБНЕЕ</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>