
<section class="projectlist">
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 class="projectlist__title wow slideInUp">Проекты домов<span class="dot">.</span></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="projects__item projectlist__item">
          <div class="projects__item-row">
            <div class="projects__slider">
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
            </div>
            <div class="projects__slider1">
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
            </div>
          </div>
          <div class="projects__info">
            <div class="projects__price">
              <div class="projects__price-item metr">
                <p>ПЛОЩАДЬ:</p>
                <p>133 <span>м</span></p>
              </div>
              <div class="projects__price-item rub">
                <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
                <p>3 275 000 <span>руб</span></p>
              </div>
            </div>
            <p class="projects__priceproject">Стоимость проекта 45 000 руб.</p>
            <p class="projects__projectinfo">В стоимость входит коробка дома, окна, отделка фасада. </p>
            <p class="projects__projectinfo">Подробную информацию уточните у наших менеджеров.</p><a class="button projects__button" href="projectcard.html">ПОДРОБНЕЕ</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="projects__item projectlist__item">
          <div class="projects__item-row">
            <div class="projects__slider">
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
            </div>
            <div class="projects__slider1">
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
            </div>
          </div>
          <div class="projects__info">
            <div class="projects__price">
              <div class="projects__price-item metr">
                <p>ПЛОЩАДЬ:</p>
                <p>133 <span>м</span></p>
              </div>
              <div class="projects__price-item rub">
                <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
                <p>3 275 000 <span>руб</span></p>
              </div>
            </div>
            <p class="projects__priceproject">Стоимость проекта 45 000 руб.</p>
            <p class="projects__projectinfo">В стоимость входит коробка дома, окна, отделка фасада. </p>
            <p class="projects__projectinfo">Подробную информацию уточните у наших менеджеров.</p><a class="button projects__button" href="projectcard.html">ПОДРОБНЕЕ</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="projects__item projectlist__item">
          <div class="projects__item-row">
            <div class="projects__slider">
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
            </div>
            <div class="projects__slider1">
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
            </div>
          </div>
          <div class="projects__info">
            <div class="projects__price">
              <div class="projects__price-item metr">
                <p>ПЛОЩАДЬ:</p>
                <p>133 <span>м</span></p>
              </div>
              <div class="projects__price-item rub">
                <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
                <p>3 275 000 <span>руб</span></p>
              </div>
            </div>
            <p class="projects__priceproject">Стоимость проекта 45 000 руб.</p>
            <p class="projects__projectinfo">В стоимость входит коробка дома, окна, отделка фасада. </p>
            <p class="projects__projectinfo">Подробную информацию уточните у наших менеджеров.</p><a class="button projects__button" href="projectcard.html">ПОДРОБНЕЕ</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="projects__item projectlist__item">
          <div class="projects__item-row">
            <div class="projects__slider">
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
            </div>
            <div class="projects__slider1">
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
            </div>
          </div>
          <div class="projects__info">
            <div class="projects__price">
              <div class="projects__price-item metr">
                <p>ПЛОЩАДЬ:</p>
                <p>133 <span>м</span></p>
              </div>
              <div class="projects__price-item rub">
                <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
                <p>3 275 000 <span>руб</span></p>
              </div>
            </div>
            <p class="projects__priceproject">Стоимость проекта 45 000 руб.</p>
            <p class="projects__projectinfo">В стоимость входит коробка дома, окна, отделка фасада. </p>
            <p class="projects__projectinfo">Подробную информацию уточните у наших менеджеров.</p><a class="button projects__button" href="projectcard.html">ПОДРОБНЕЕ</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="projects__item projectlist__item">
          <div class="projects__item-row">
            <div class="projects__slider">
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
            </div>
            <div class="projects__slider1">
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
            </div>
          </div>
          <div class="projects__info">
            <div class="projects__price">
              <div class="projects__price-item metr">
                <p>ПЛОЩАДЬ:</p>
                <p>133 <span>м</span></p>
              </div>
              <div class="projects__price-item rub">
                <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
                <p>3 275 000 <span>руб</span></p>
              </div>
            </div>
            <p class="projects__priceproject">Стоимость проекта 45 000 руб.</p>
            <p class="projects__projectinfo">В стоимость входит коробка дома, окна, отделка фасада. </p>
            <p class="projects__projectinfo">Подробную информацию уточните у наших менеджеров.</p><a class="button projects__button" href="projectcard.html">ПОДРОБНЕЕ</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="projects__item projectlist__item">
          <div class="projects__item-row">
            <div class="projects__slider">
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
            </div>
            <div class="projects__slider1">
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
            </div>
          </div>
          <div class="projects__info">
            <div class="projects__price">
              <div class="projects__price-item metr">
                <p>ПЛОЩАДЬ:</p>
                <p>133 <span>м</span></p>
              </div>
              <div class="projects__price-item rub">
                <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
                <p>3 275 000 <span>руб</span></p>
              </div>
            </div>
            <p class="projects__priceproject">Стоимость проекта 45 000 руб.</p>
            <p class="projects__projectinfo">В стоимость входит коробка дома, окна, отделка фасада. </p>
            <p class="projects__projectinfo">Подробную информацию уточните у наших менеджеров.</p><a class="button projects__button" href="projectcard.html">ПОДРОБНЕЕ</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="projects__item projectlist__item">
          <div class="projects__item-row">
            <div class="projects__slider">
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
            </div>
            <div class="projects__slider1">
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
            </div>
          </div>
          <div class="projects__info">
            <div class="projects__price">
              <div class="projects__price-item metr">
                <p>ПЛОЩАДЬ:</p>
                <p>133 <span>м</span></p>
              </div>
              <div class="projects__price-item rub">
                <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
                <p>3 275 000 <span>руб</span></p>
              </div>
            </div>
            <p class="projects__priceproject">Стоимость проекта 45 000 руб.</p>
            <p class="projects__projectinfo">В стоимость входит коробка дома, окна, отделка фасада. </p>
            <p class="projects__projectinfo">Подробную информацию уточните у наших менеджеров.</p><a class="button projects__button" href="projectcard.html">ПОДРОБНЕЕ</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="projects__item projectlist__item">
          <div class="projects__item-row">
            <div class="projects__slider">
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
            </div>
            <div class="projects__slider1">
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
            </div>
          </div>
          <div class="projects__info">
            <div class="projects__price">
              <div class="projects__price-item metr">
                <p>ПЛОЩАДЬ:</p>
                <p>133 <span>м</span></p>
              </div>
              <div class="projects__price-item rub">
                <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
                <p>3 275 000 <span>руб</span></p>
              </div>
            </div>
            <p class="projects__priceproject">Стоимость проекта 45 000 руб.</p>
            <p class="projects__projectinfo">В стоимость входит коробка дома, окна, отделка фасада. </p>
            <p class="projects__projectinfo">Подробную информацию уточните у наших менеджеров.</p><a class="button projects__button" href="projectcard.html">ПОДРОБНЕЕ</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="projects__item projectlist__item">
          <div class="projects__item-row">
            <div class="projects__slider">
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13301.png" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13302.jpg" alt="Дом"/></div>
              <div class="projects__slider-item"><img class="img-responsive" src="img/k13303.jpg" alt="Дом"/></div>
            </div>
            <div class="projects__slider1">
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13301_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13302_sm.png" alt="Дом"/></div>
              <div class="projects__slider1-item"><img class="img-responsive" src="img/k13303_sm.png" alt="Дом"/></div>
            </div>
          </div>
          <div class="projects__info">
            <div class="projects__price">
              <div class="projects__price-item metr">
                <p>ПЛОЩАДЬ:</p>
                <p>133 <span>м</span></p>
              </div>
              <div class="projects__price-item rub">
                <p>СТОИМОСТЬ ПОСТРОЙКИ:</p>
                <p>3 275 000 <span>руб</span></p>
              </div>
            </div>
            <p class="projects__priceproject">Стоимость проекта 45 000 руб.</p>
            <p class="projects__projectinfo">В стоимость входит коробка дома, окна, отделка фасада. </p>
            <p class="projects__projectinfo">Подробную информацию уточните у наших менеджеров.</p><a class="button projects__button" href="projectcard.html">ПОДРОБНЕЕ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>