
<section class="servicebox">
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 class="servicebox__title wow slideInUp">Услуги.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-6">
        <div class="row">
          <div class="col-lg-6 col-md-12"><a class="servicebox__item" href="#"><img class="img-responsive" src="img/service1.png" alt="Работы"/>
              <p>ИЗЫСКАНИЯ</p></a></div>
          <div class="col-lg-6 col-md-12"><a class="servicebox__item" href="#"><img class="img-responsive" src="img/service2.png" alt="Работы"/>
              <p>УПРАВЛЕНИЕ<br>СТРОИТЕЛЬСТВОМ И<br>ЭКСПЛУАТАЦИЯ</p></a></div>
          <div class="col-12"><a class="servicebox__item servicebox__item-work" href="#"><img class="img-responsive" src="img/service3.png" alt="Работы"/>
              <p>СТРОИТЕЛЬНО-МОНТАЖНЫЕ<br>РАБОТЫ</p></a></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="servicebox__projects">
          <p class="servicebox__projects-title">Проектные работы</p>
          <p class="servicebox__projects-text">- Разработка генерального плана </p>
          <p class="servicebox__projects-text">- Проектирование индивидуальных жилых домов и таунхаусов</p>
          <p class="servicebox__projects-text">- Проектирование жилых и общественных зданий</p>
          <p class="servicebox__projects-text">- Проектирование инженерных систем</p>
          <p class="servicebox__projects-text">- Интерьеры и экстерьеры жилых и общественных зданий</p>
          <p class="servicebox__projects-text">- Проект благоустройства территории</p>
          <p class="servicebox__projects-text">- Проектирование малых архитектурных форм </p><a class="button servicebox__projects-button" href="#">Оставить заявку</a>
        </div>
      </div>
    </div>
  </div>
</section>