
<section class="titlepage">
  <div class="titlepage__content">
    <h1 class="titlepage__title">Title of the page</h1>
    <h4 class="titlepage__subtitle">Subtitle</h4>
    <p class="titlepage__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra turpis tristique nisi laoreet gravida. Sed sed orci ut ante pellentesque efficitur id ac erat. Morbi metus metus, dictum sed arcu at, interdum porttitor erat.</p>
    <button class="button titlepage__button">Button</button>
  </div>
</section>