.aside
	h3.aside__title Sds
	nav.aside__nav
		ul.aside__menu
			li
				a.aside__menu-item(href="#") Work
			li
				a.aside__menu-item(href="#") About
			li
				a.aside__menu-item(href="#") Servises
			li
				a.aside__menu-item(href="#") Blog
			li
				a.aside__menu-item(href="#") Contact
		.aside__search
			a(href="#")
				svg#search(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 20 20', fill='white' opacity='0.5')
					path(d='M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z')