section.blog
	h2.blog__title Form the blog
	.blogItem
		.blogItem__img
		.blogItem__info
			h4.blogItem__title Title of a post
			p.blogItem__text In hac habitasse platea dictumst. Phasellus finibus ipsum enim, non pretium massa mattis non. Curabitur ut tempus ex. Nunc dictum est enim, consectetur convallis odio mollis tempus.
			button.button Read more
	.blogItem
		.blogItem__img
		.blogItem__info
			h4.blogItem__title Title of a post
			p.blogItem__text In hac habitasse platea dictumst. Phasellus finibus ipsum enim, non pretium massa mattis non. Curabitur ut tempus ex. Nunc dictum est enim, consectetur convallis odio mollis tempus.
			button.button Read more
	.blogItem
		.blogItem__img
		.blogItem__info
			h4.blogItem__title Title of a post
			p.blogItem__text In hac habitasse platea dictumst. Phasellus finibus ipsum enim, non pretium massa mattis non. Curabitur ut tempus ex. Nunc dictum est enim, consectetur convallis odio mollis tempus.
			button.button Read more