section.comment
	.comment__content
		img.comment__quote(src="img/quote1.svg", alt="Quote")
		p.comment__text In hac habitasse platea dictumst. Phasellus finibus ipsum enim, non pretium massa mattis non. Curabitur ut tempus ex. Nunc dictum est enim, consectetur convallis odio mollis tempus!
		p.comment__men Jim Gordon
			span (GCPD)