section.materials
	.container
		.row
			.col-md-4.col-sm-12
				.materials__block
					h4.materials__block-title Photos 
					p.materials__block-text Vestibulum suscipit tortor magna, quis pellentesque arcu volutpat ac. Tempus leo erat, sit amet ullamcorper nisl.
					button.button Button
					.materials__block-icon
						img(src="img/photo.svg", alt="Photo")
			.col-md-4.col-sm-12
				.materials__block
					h4.materials__block-title Videos
					p.materials__block-text Vestibulum suscipit tortor magna, quis pellentesque arcu volutpat ac. Tempus leo erat, sit amet ullamcorper nisl.
					button.button Button
					.materials__block-icon
						img(src="img/film.svg", alt="Video") 
			.col-md-4.col-sm-12
				.materials__block
					h4.materials__block-title Downloads 
					p.materials__block-text Vestibulum suscipit tortor magna, quis pellentesque arcu volutpat ac. Tempus leo erat, sit amet ullamcorper nisl.
					button.button Button
					.materials__block-icon
						img(src="img/download.svg", alt="Download")