section.titlepage
	.titlepageContent
		h1.titlepageContent__title Title of the page
		h4.titlepageContent__subtitle Subtitle
		p.titlepageContent__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra turpis tristique nisi laoreet gravida. Sed sed orci ut ante pellentesque efficitur id ac erat. Morbi metus metus, dictum sed arcu at, interdum porttitor erat.
		button.button.titlepageContent__button Button