/*======================= BLOG ====================*/
.blog
	background: #ffffff
	padding: 154px 120px 60px 120px
	+r(1700)
		padding: 124px 30px 60px 30px
		&__info
			padding-top: 10px
			&-text
				line-height: 25px
	+r(992)
		&__img
			width: calc(50% - 10px)
		&__info
			width: calc(50% - 10px)
	+r(768)
		&__img, &__info
			width: 100%
		&__info
			&-title
				margin-top: 30px
	&__title
		position: relative
		margin-bottom: 80px
		&::after
			+pseudo
			width: 60px
			height: 4px
			top: -30px
			left: 0
			background: $main
	&__item
		margin-bottom: 60px
		width: 100%
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: flex-start

	&__img
		width: calc(50% - 40px)
		height: 330px
		border-radius: 6px
		background-color: #e2e2e2
	&__info
		padding-top: 37px
		width: calc(50% - 40px)
		&-title
			margin-bottom: 31px
		&-text
			margin-bottom: 35px
			color: $duobletext 
			font-size: 18px
			font-weight: 300
			line-height: 30px
			letter-spacing: 0.45px
		&-button
			width: 176px
